<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>947837806868-m7rrbj27g3atsk0bqadtcrdkkq6b18q3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947837806868-m7rrbj27g3atsk0bqadtcrdkkq6b18q3</string>
	<key>API_KEY</key>
	<string>AIzaSyBUA-DL_YR7SvDvJLlXZvtO99FgLx6FJ_U</string>
	<key>GCM_SENDER_ID</key>
	<string>947837806868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.odyssey</string>
	<key>PROJECT_ID</key>
	<string>voyager-301a2</string>
	<key>STORAGE_BUCKET</key>
	<string>voyager-301a2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947837806868:ios:10114adfcc2b0f6096ba01</string>
</dict>
</plist>